body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
	text-align: center;
}

/*----------------------------------------------------------
# Header
----------------------------------------------------------*/
.header-container{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
}

.header-bg{
    width:100%;
    position: relative;
}

.header-top{
    height: 70px;
    width: 100%;
}

.header-top-logo{
    left: 0;
    position: absolute;
}

.header-logo{
    height: 80px;
    padding: 20px;
}

.header-top-login{
    right: 0;
    position: absolute;
    padding: 20px 35px;
}

/* Login Dropdown */
.login-dropbtn{
    background-color: #004BAE;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.login-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    text-align: left;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.login-dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.login-dropdown-content a:hover {background-color: #ddd;}

.header-top-login:hover .login-dropdown-content {display: block;}

.header-top-login:hover .login-dropbtn{background-color: #00BE39;}

/* Header Links/Nav Menu */
.header-links{
    position: relative;
    width: 100%;
    height: 40px;
}

.nav-menu{
    list-style: none;
    width: 38%;
    margin: auto;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    margin: 0 auto;
}

.nav-menu a {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu li:hover > a {
    color: #69be00;
}

/* Title */
.title-container{
    position: relative;
    height: 16.5em;
    padding-left: 7em;
}

.title-container h1{
    color: white;
    font-size: 70px;
    text-align: left;
    text-shadow: 2px 2px 5px #000000;
}

/*----------------------------------------------------------
# Login Page
----------------------------------------------------------*/
.login-bg-img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.login-form-container{
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid #dddddd;
}

.login-logo{
    height: 100px;
    margin: 30px;
}

.login-form-container h1{
    margin: 0px;
    color: #777777;
    font-weight: normal;
}

.login-form input{
    width: 70%;
    padding: 7px 0px;
    margin: 10px 0px;
}

.login-buttons input{
    width: 100px;
    background-color: #004BAE;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: 10px 20px;
    cursor: pointer;
}

.login-buttons button{
    width: 100px;
    background-color: #777777;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin: 10px 20px;
    cursor: pointer;
}

/*----------------------------------------------------------
# Index Page 
----------------------------------------------------------*/
/* About Section */
.about-section{
    position: relative;
    margin: 5% 15%;
    height: 200px;
}

.about-section-icon{
    width: 30%;
    position: absolute;
    left: 0;
}

.about-section-icon img{
    height: 180px;
}

.about-section-desc{
    width: 65%;
    position: absolute;
    right: 0;
}

.about-section-desc p{
    text-align: left;
    padding: 0;
    margin: 0;
}

.about-section-desc h1{
    text-align: left;
    padding: 0;
    margin: 0;
}

/* Seminars Section */
.seminars-section{
    position: relative;
}

.seminars-section img{
    width: 100%;
}

.seminars-section-desc{
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
}

.seminars-section-desc h1{
    text-align: center;
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 5px #000000;
    
}

.seminars-section-desc button{
    background-color: #fff;
    color: #777;
    padding: 20px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: 350px;
}

.seminars-section-desc button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seminars-section-desc button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.seminars-section-desc button:hover span {
  padding-right: 25px;
}

.seminars-section-desc button:hover span:after {
  opacity: 1;
  right: 0;
}

/*----------------------------------------------------------
# Seminar Items + Page
----------------------------------------------------------*/
.upcoming-seminars-section{
    width: 80%;
    margin: 0 auto;
    height: 600px;
}

.all-seminars-section{
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.search-seminars-section input{
    background-color: #F3F8F9;
    padding: 10px 70px 10px 20px;
    margin: 30px;
    height: 20px;
    border: 1px solid #E5E5E5;
}

.upcoming-seminars-section h1{
    margin: 0;
    padding: 30px;
}

.individual-seminar-item{
    height: 380px;
    width: 400px;
    background-color: #F3F8F9;
    border: 1px solid #E5E5E5;
    margin: 30px;
    position: relative;
    display: inline-block;
}

.individual-seminar-item h2{
    padding:0 30px;
    margin: 0;
    text-align: left;
    
}

.individual-seminar-item h4{
    padding:0 30px;
    margin: 0;
    text-align: left;
    
}

.individual-seminar-item-location{
    position: relative;
    padding: 0px 25px;
}

.location-icon{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 25px;
}

.individual-seminar-item p{
    padding:0 30px;
    margin: 0;
    text-align: left;
    color: #00BE39;
    
}

.individual-seminar-item-banner {
    width: 100%;
}

.individual-seminar-item-tags{
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    padding: 1px 10px;
}

.individual-seminar-item-tags p {
    padding: 0;
    margin: 0;
    color: #777777;
}

.individual-seminar-item button{
    border: none;
    background-color: #00BE39;
    padding: 10px 15px;
    margin: 5px;
    color: white;
    cursor: pointer;
    position: absolute;
    margin: 5px 30px;
    left: 0;
}

.individual-seminar-item button:hover{
    background-color: #004BAE;
}

.add-seminar-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em;
}

.title-container button{
    background-color: white;
    border: none;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    border-radius: 50px;
}

.title-container span{
    font-size: 15px;
    color: #00BE39;
}

/*----------------------------------------------------------
# Single Seminar Page
----------------------------------------------------------*/
.single-seminar-section{
    width: 700px;
    background-color: #F3F8F9;
    border: 1px solid #E5E5E5;
    margin: 30px auto;
    position: relative;
}

.single-seminar-banner{
    max-height: 200px;
    overflow: hidden;
    width: 700px;
}

.single-seminar-top-buttons{
    position: absolute;
    height: 120px;
    width: 200px;
    top: 0;
    right: 0;
    margin: 20px;
}

.modify-seminar-button{
    padding: 12px;
    border-radius: 50px;
    border: none;
    margin: 10px;
    cursor:pointer;
    background-color: #00BE39;
    color: white;
}

.delete-seminar-button{
    padding: 12px;
    border-radius: 50px;
    border: none;
    margin: 10px;
    cursor:pointer;
    background-color: #004BAE;
    color: white;
}

.single-seminar-details{
    padding: 24px;
    position: relative;
}

.single-seminar-details h2 {
    text-align: left;
    margin: 0px;
    font-size: 40px;
}

.single-seminar-details h5{
    color: #00BE39;
    text-align: left;
    margin: 0;
}

.single-seminar-location{
    position: relative;
}

.single-seminar-location h4{
    text-align: left;
    padding-left: 30px;
    margin: 0px;
}

.seminar-location-icon{
    height: 30px;
    position: absolute;
    left: 0;
}

.single-seminar-details p{
    font-size: 13px;
    text-align: left;
}

.single-seminar-details span{
    font-style: italic;
}

.single-seminar-extra-details{
    position: relative;
}

.single-seminar-host{
    position: relative;
}

.seminar-user-icon{
    height:20px;
    position: absolute;
    left: 0;
}

.single-seminar-host p{
    text-align: left;
    padding-left: 30px;
    margin: 0px;
}

.single-seminar-middle-buttons{
    position: absolute;
    height: 90px;
    width: 200px;
    right: 0;
    top: 0;
}

.back-seminar-button{
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin: 5px;
    cursor:pointer;
    background-color: #777777;
    color: white;
    width: 150px;
}

.print-name-tags-button{
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin: 5px;
    cursor:pointer;
    background-color: #777777;
    color: white;
    width: 150px;
}

/* Attendees Section */
.single-seminar-attendees h3{
    text-align: left;
    margin-bottom: 0px;
    margin-top: 50px;
    
}

.seminar-attendees{
    width: 100%;
    text-align: left;
    color: #777777;
}

.seminar-attendees th{
    border-bottom: 1px solid #E5E5E5;
}

.seminar-attendees td{
    font-size: 13px;
    border-bottom: 1px solid #E5E5E5;
}

.modify-attendee-button{
    padding: 12px;
    border-radius: 50px;
    border: none;
    margin: 10px;
    cursor:pointer;
    background-color: #00BE39;
    color: white;
}

.delete-attendee-button{
    padding: 12px;
    border-radius: 50px;
    border: none;
    margin: 10px;
    cursor:pointer;
    background-color: #004BAE;
    color: white;
}



.unregister-form{
    width: 400px;
    text-align: left;
}

.unregister-form p{
    font-weight: bold;
}

.unregister-submit{
    border:none;
    background-color: #00BE39;
    color: white;
    padding: 3px 20px;
}


/*----------------------------------------------------------
# Create/Modify Seminar Pages
----------------------------------------------------------*/
.create-seminar-section{
    background-color: #F3F8F9;
    height: auto;
    width: 60%;
    margin: 40px auto;
    border: 1px solid #E5E5E5;
    padding: 30px 100px;
}

.create-seminar-section h1{
    text-align: left;
    margin: 5px 0px;
}
.seminar-form-input{
    width: 100%;
    height: 30px;
    margin: 7px 0px;
}

.seminar-form-input-long{
    width: 100%;
    height: 130px;
    margin: 7px 0px;
}

.create-seminar-button{
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin: 5px;
    cursor:pointer;
    background-color: #004BAE;
    color: white;
    width: 150px;
}

/*----------------------------------------------------------
# User Management
----------------------------------------------------------*/
.user-management-section{
    padding: 30px 150px;
}

.user-management-section h1{
    margin: 0;
}

.user-management-bg{
    background-color: #F3F8F9;
    border: 1px solid #E5E5E5;
    padding: 20px 80px;
}

.user-management-bg h2{
    text-align: left;
    padding: 0;
    margin:0;
}


/*----------------------------------------------------------
# Footer
----------------------------------------------------------*/
.footer-container{
    position: relative;
    height: 380px;
    width: 100%;
}

.footer-top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 180px;
    background-color: #00BE39;
}

.footer-top-container h1{
    color: white;
    padding: 0;
}

.footer-top-container h3{
    color: white;
    padding: 0;
    margin: 0;
}

.footer-top-container p{
    color: white;
    padding: 0;
    margin: 0;
}

.footer-container-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    background-color: #000236;
}

.footer-container-bottom img{
    height: 100px;
    padding: 15px;
}